@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f1115;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
